.contenedor-personaje{
    width: 1050px;
    height: 350px;
    margin: 10px 10px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 5px 1px black;
}
.titulo-serie{
    font-size: 4rem;
    color: yellow;
    text-shadow: 0px 0px 5px black;
}
.contenedor-texto{
    position: relative;
    margin-top: 5rem;
    margin-right: 15rem;
}
.nombre-personaje{
    font-size: 4rem;
}
.nombre-serie{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.contenedor-parrafo{
    width: 200px;
}
.texto-personaje{
    font-size: 1rem;
}
.imagen-personaje{
    width: 350px;
    height: 350px;
}